 <div class="header">
        <h1>Charlotte Park Finder App</h1>
        <h2>About the Project/Developers</h2>    
</div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nobis enim recusandae expedita eos, optio, doloribus suscipit facilis dicta praesentium provident consectetur unde, quasi nesciunt hic odit quisquam dignissimos voluptatum?
    </p>