<form>
    <label for="park-name"> Park Name </label>
    <input type="text" name="park-name">

    <input type="checkbox" name="facilities" value="restroom"> Restrooms <br>
    <input type="checkbox" name="sports-equip" value="basketball"> Basketball <br>
    <input type="checkbox" name="sports-equip" value="soccer"> Soccer <br>
    <input type="checkbox" name="sports-equip" value="golf"> Golf <br>


</form>