<div class="header">
        <h1> Add a Park </h1>
        <h2>Add your favorite park to our database </h2>
</div>

<form class="pure-form pure-form-stacked">
    
    <label for="park-name"> Park Name </label>
    <input type="text" name="park-name"><br>

    <input type="checkbox" id="restroom"> Restrooms <br>
    <input type="checkbox" id="basketball"> Basketball <br>
    <input type="checkbox" id="soccer"> Soccer <br>
    <input type="checkbox" id="golf"> Golf <br>
    {{!-- image upload input  --}}


</form>