{{!-- add features table to db? Would allow use of another hbs partial here --}}
<div class="header">
        <h1> All Park Features </h1>
        <h2>Select a feature for more information</h2>
</div>

<ul class="pure-g" id="all-features">
    
      <li class="pure-u-20-24">
        <a href="/all-features/basketball">
           <img src="./assets/images/png/basketball.png">
           <h3>Basketball Courts</h3>
        </a>     
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/dogPark">
           <img src="./assets/images/png/dog-park.png">
           <h3>Dog Parks</h3>
        </a> 
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/golf">
           <img src="./assets/images/png/golf.png">
           <h3>Golf Courses</h3>
        </a> 
      </li>
        <li class="pure-u-20-24">
        <a href="/all-features/handiAces">
           <img src="./assets/images/png/wheelchair-access.png">
           <h3>Wheelchair Accessible</h3>
        </a> 
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/playgrounds">
           <img src="./assets/images/png/playground.png">
           <h3>Playgrounds</h3>
        </a> 
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/soccer">
           <img src="./assets/images/png/soccer.png">
           <h3>Soccer Fields</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/tennis">
           <img src="./assets/images/png/tennis.png">
           <h3>Tennis Courts</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/trails">
           <img src="./assets/images/png/trails.png">
           <h3>Hiking Trails</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/vendingMachines">
           <img src="./assets/images/png/vending-machine.png">
           <h3>Vending Machines</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/views">
           <img src="./assets/images/png/views.png">
           <h3>City Views</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/waterSports">
           <img src="./assets/images/png/water.png">
           <h3>Water Activities</h3>
        </a>
      </li>
      <li class="pure-u-20-24">
        <a href="/all-features/workoutGear">
           <img src="./assets/images/png/workout.png">
           <h3>Workout Equipment</h3>
        </a>
      </li>      
    
</ul>
