{{!-- add features table to db? Would allow use of another hbs partial here --}}
<div class="header">
        <h1> All Park Features </h1>
        <h2>Select a feature for more information</h2>
</div>

<ul class="pure-g" id="all-features">
    
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/basketball.png">
           <p>Basketball Courts</p>
        </div>     
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/dog-park.png">
           <p>Dog Parks</p>
        </div> 
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/golf.png">
           <p>Golf Courses</p>
        </div> 
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/playground.png">
           <p>Play-grounds</p>
        </div> 
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/soccer.png">
           <p>Soccer Fields</p>
        </div>
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/tennis.png">
           <p>Tennis Courts</p>
        </div>
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/trails.png">
           <p>Hiking Trails</p>
        </div>
      </li>
      <li>
        {{!-- <div>
           <img src="./assets/images/png/vending-machines.png">
        </div> --}}
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/views.png">
           <p>City Views</p>
        </div>
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/water-activities.png">
           <p>Water Activities</p>
        </div>
      </li>
      <li>
        <div class="pure-u-4-5">
           <img src="./assets/images/png/workout.png">
           <p>Workout Equipment</p>
        </div>
      </li>      
    
</ul>