<form action="/api/parks" target="_blank" method="POST">
  Park Name:<br>
  <input type="text" name="parkName">
  <br>
  Size:<br>
  <input type="number" name="size">
  <br>
    Handicap Access:<br>
  <input type="checkbox" name="handiAcces" value="true"><br>
  Restrooms:<br>
  <input type="checkbox" name="restrooms" value="true"><br>
  <input type="submit" value="Submit">
</form>

<form action="{{action}}" target="_blank" method="{{method}}">

</form>