   
<div class="header">
    <h1>Charlotte Parks</h1>
    <h2>Use your device location or pick an activity to get started!</h2>
</div>
{{!Incorporate google maps code, starts with the floating-pannel. tried a few different methods and a few different variations,
didn't work }}
    <div class="content">
        <div class="pure-g"></div>  
         {{!-- <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
        </div> --}}
            <div id="map" class="pure-u-5-5"> </div>
            <br>
            <div class="pure-u-5-5" id="buttons">
                <button class="pure-button pure-button-primary" id="location">
                    <i class="material-icons">location_on</i> Parks near me 
                </button>                    
                <br>                   
                    {{!-- <radio value="" disabled selected>Select a Feature</radio> --}}
                    <label class="container" value="basketball">Basketball<input type="checkbox">
                    <label class="container" onclick="toggleBball()" id="basketball" value="basketball">Basketball<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="golf">Golf<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="playgrounds">Playgrounds<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="soccer">Soccer<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="tennis">Tennis<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="trails">Trails<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="vending-machines">Vending Machines<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="views">Scenic Views<input type="checkbox">
                    <span class="checkmark"></span></label>
                    <label class="container" value="water-activities">Water Activities<input type="checkbox">
                    <span class="checkmark"></span></label> 
                     <label class="container" value="accessible">Wheel Chair Accessible<input type="checkbox">
                    <span class="checkmark"></span></label>
                     <label class="container" value="workout-gear">Workout Gear<input type="checkbox">
                    <span class="checkmark"></span></label>                                                                                                                       
                  

                </div>
            </div>
        </div>                     

    </div>
    

           


 
 
        
