{{!-- individual park page --}}  
{{#with parks}} 
<div class="header">
    
    <h1>{{parkName}}</h1>
    <h2>{{address}}</h2>
    <h3>{{size}} Acres </h3>    
    <h4>blurb about park</h4>
    {{> parks/park-block}}
</div>

{{/with}}
