  <ul class="icon-list">
	{{#if restrooms}} 
		<li><a href="#">
			<img src="./assets/images/png/restrooms.png" class="pure-img icon" alt="Restrooms available">
		</a></li>
	{{/if}}
	{{#if handiAcces}}
		<li><a href="#">
			<img src="./assets/images/png/wheelchair-access.png" class="pure-img icon" alt="Wheel Chair Accessible">
		</a></li>
	{{/if}} 
	{{!-- {{#if BasketBall}}
		<li><a href="#">
			<img src="./assets/images/png/basketball.png" class="pure-img icon" alt="Basketball Court">
		</a></li>
	{{/if}} --}}
 </ul>